<div class="d-flex justify-content-center align-items-center con">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-center align-items-center">
            <div class="card p-4 box ">
              <h3 class="text-center mb-4 custom-h2">Refer a Merchant via WhatsApp</h3>
              <p>The more merchants register through your WhatsApp,the more reviews your store gets from  BueteShop and it  drives more customers to your e-store.</p>
              <form #referalform="ngForm">
                <div class="mb-3">
                  <input type="tel" class="form-control" placeholder="Enter 10-digit mobile number" [(ngModel)]="mobileNumber" #mobile="ngModel" name="mobile" minlength="10" maxlength="10" required>
                  <div class="text-danger" *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                    <div *ngIf="mobile.errors?.['required']">
                      Mobile number is required.
                    </div>
                    <div *ngIf="mobile.errors?.['pattern']">
                      Enter a valid 10-digit number.
                    </div>
                    <div *ngIf="mobile.errors?.['minlength'] || mobile.errors?.['maxlength']">
                      Mobile number must be 10 digits.
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn custom-btn mt-3" (click)="sendreferaltomerchant()" style="width: 100%;">
                Send Referral
              </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

