<div class="container con ">
  <div class="text-center">
    <h4 >My Earnings</h4>

    <!--If no data-->
    <div *ngIf="!userdata()">
      {{ message()}}
    </div>

    <!-- Show count -->
    <div *ngIf="userdata()" class="mb-3">
      <span class="fw-medium">Total Points </span> : {{ userdata()}}
    </div>

    <!-- Loop earnings
    <table class="table table-bordered table-striped w-100" *ngIf="earnings().length > 0">
      <thead>
        <tr>

          <th>ID</th>
          <th>Purchase Type</th>
          <th>Date</th>
          <th>Purchase Amount</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of earnings(); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.purchaseType }}</td>
          <td>{{ item.purchaseDate }}</td>
          <td>{{ item.purchaseAmount }}</td>
        </tr>
      </tbody>
    </table>-->
  </div>
</div>
